In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_excel("evaluasi.xlsx")
df

,query,retrieved,relevant
0,Berita terbaru politik Indonesia,"[58348, 25157, 103, 48010, 39854, 34243, 40476...","[58348, 25157, 103, 48010, 34243, 40476, 35560..."
1,Harga minyak dunia hari ini,"[28749, 31352, 25522, 60887, 51287, 17562, 610...","[28749, 31352, 25522, 60887, 51287, 17562, 610..."
2,Perkembangan teknologi AI terkini,"[25767, 51179, 44664, 19411, 40807, 47760, 193...","[25767, 51179, 44664, 40807, 47760, 21863, 596..."
3,Cuaca ekstrem dan dampaknya di Eropa,"[16240, 9001, 30730, 37976, 45181, 29223, 2290...","[55675, 22316, 22777, 37976, 16240, 60318, 307..."
4,Hasil pertandingan sepak bola liga Inggris tad...,"[45032, 6257, 43151, 26411, 24796, 49670, 5402...","[45032, 43151, 26411, 24796, 49670, 54020, 505..."
5,Update kasus pandemi global terbaru,"[9745, 5283, 56542, 10043, 35408, 17259, 50075...","[40163, 47872, 9745, 5283, 56542, 10043, 17259..."
6,Peningkatan investasi asing di Asia Tenggara,"[24243, 60088, 40289, 36764, 59423, 43723, 443...","[24243, 40289, 59423, 43723, 14226, 12386, 498..."
7,Perubahan iklim dan dampaknya pada ekonomi,"[43709, 14178, 12904, 30730, 22104, 47679, 213...","[43084, 62460, 30730, 21353, 43709, 12904, 476..."
8,Penemuan ilmiah terbaru dalam bidang kesehatan,"[58884, 14680, 13178, 39300, 9637, 14631, 1426...","[14680, 58884, 14263, 23784, 14631, 9637, 4917..."
9,Konflik internasional dan resolusinya,"[46795, 15958, 8384, 51703, 63149, 22846, 5045...","[53161, 37368, 7864, 22846, 37767, 46795, 1619..."

In [3]:
df["retrieved"] = df["retrieved"].apply(ast.literal_eval)
df["relevant"] = df["relevant"].apply(ast.literal_eval)
df

,query,retrieved,relevant
0,Berita terbaru politik Indonesia,"[58348, 25157, 103, 48010, 39854, 34243, 40476...","[58348, 25157, 103, 48010, 34243, 40476, 35560..."
1,Harga minyak dunia hari ini,"[28749, 31352, 25522, 60887, 51287, 17562, 610...","[28749, 31352, 25522, 60887, 51287, 17562, 610..."
2,Perkembangan teknologi AI terkini,"[25767, 51179, 44664, 19411, 40807, 47760, 193...","[25767, 51179, 44664, 40807, 47760, 21863, 596..."
3,Cuaca ekstrem dan dampaknya di Eropa,"[16240, 9001, 30730, 37976, 45181, 29223, 2290...","[55675, 22316, 22777, 37976, 16240, 60318, 307..."
4,Hasil pertandingan sepak bola liga Inggris tad...,"[45032, 6257, 43151, 26411, 24796, 49670, 5402...","[45032, 43151, 26411, 24796, 49670, 54020, 505..."
5,Update kasus pandemi global terbaru,"[9745, 5283, 56542, 10043, 35408, 17259, 50075...","[40163, 47872, 9745, 5283, 56542, 10043, 17259..."
6,Peningkatan investasi asing di Asia Tenggara,"[24243, 60088, 40289, 36764, 59423, 43723, 443...","[24243, 40289, 59423, 43723, 14226, 12386, 498..."
7,Perubahan iklim dan dampaknya pada ekonomi,"[43709, 14178, 12904, 30730, 22104, 47679, 213...","[43084, 62460, 30730, 21353, 43709, 12904, 476..."
8,Penemuan ilmiah terbaru dalam bidang kesehatan,"[58884, 14680, 13178, 39300, 9637, 14631, 1426...","[14680, 58884, 14263, 23784, 14631, 9637, 4917..."
9,Konflik internasional dan resolusinya,"[46795, 15958, 8384, 51703, 63149, 22846, 5045...","[53161, 37368, 7864, 22846, 37767, 46795, 1619..."

In [4]:
df["intersection"] = df.apply(lambda row: list(set(row['retrieved']) & set(row['relevant'])), axis=1)
df

,query,retrieved,relevant,intersection
0,Berita terbaru politik Indonesia,"[58348, 25157, 103, 48010, 39854, 34243, 40476...","[58348, 25157, 103, 48010, 34243, 40476, 35560...","[34243, 25157, 103, 35560, 48010, 58348, 24848..."
1,Harga minyak dunia hari ini,"[28749, 31352, 25522, 60887, 51287, 17562, 610...","[28749, 31352, 25522, 60887, 51287, 17562, 610...","[59334, 31352, 28749, 35566, 52078, 25522, 610..."
2,Perkembangan teknologi AI terkini,"[25767, 51179, 44664, 19411, 40807, 47760, 193...","[25767, 51179, 44664, 40807, 47760, 21863, 596...","[25767, 21863, 40807, 51179, 47760, 44664]"
3,Cuaca ekstrem dan dampaknya di Eropa,"[16240, 9001, 30730, 37976, 45181, 29223, 2290...","[55675, 22316, 22777, 37976, 16240, 60318, 307...","[9001, 30730, 59691, 16240, 37976, 45181, 60318]"
4,Hasil pertandingan sepak bola liga Inggris tad...,"[45032, 6257, 43151, 26411, 24796, 49670, 5402...","[45032, 43151, 26411, 24796, 49670, 54020, 505...","[19969, 54020, 49670, 45032, 50538, 26411, 431..."
5,Update kasus pandemi global terbaru,"[9745, 5283, 56542, 10043, 35408, 17259, 50075...","[40163, 47872, 9745, 5283, 56542, 10043, 17259...","[10043, 25635, 5283, 17259, 9745, 50075, 56542..."
6,Peningkatan investasi asing di Asia Tenggara,"[24243, 60088, 40289, 36764, 59423, 43723, 443...","[24243, 40289, 59423, 43723, 14226, 12386, 498...","[40289, 12386, 43723, 14226, 24243, 36764, 498..."
7,Perubahan iklim dan dampaknya pada ekonomi,"[43709, 14178, 12904, 30730, 22104, 47679, 213...","[43084, 62460, 30730, 21353, 43709, 12904, 476...","[47749, 43709, 12904, 21353, 30730, 4989, 47679]"
8,Penemuan ilmiah terbaru dalam bidang kesehatan,"[58884, 14680, 13178, 39300, 9637, 14631, 1426...","[14680, 58884, 14263, 23784, 14631, 9637, 4917...","[27971, 39300, 58884, 9637, 14631, 23784, 4917..."
9,Konflik internasional dan resolusinya,"[46795, 15958, 8384, 51703, 63149, 22846, 5045...","[53161, 37368, 7864, 22846, 37767, 46795, 1619...","[16193, 37767, 46795, 50454, 51703, 7864, 22846]"

In [5]:
df["true_positive"] = df["intersection"].apply(len)
df["false_positive"] = df.apply(lambda row: len(row["retrieved"]) - row["true_positive"], axis=1)
df

,query,retrieved,relevant,intersection,true_positive,false_positive
0,Berita terbaru politik Indonesia,"[58348, 25157, 103, 48010, 39854, 34243, 40476...","[58348, 25157, 103, 48010, 34243, 40476, 35560...","[34243, 25157, 103, 35560, 48010, 58348, 24848...",9,1
1,Harga minyak dunia hari ini,"[28749, 31352, 25522, 60887, 51287, 17562, 610...","[28749, 31352, 25522, 60887, 51287, 17562, 610...","[59334, 31352, 28749, 35566, 52078, 25522, 610...",10,0
2,Perkembangan teknologi AI terkini,"[25767, 51179, 44664, 19411, 40807, 47760, 193...","[25767, 51179, 44664, 40807, 47760, 21863, 596...","[25767, 21863, 40807, 51179, 47760, 44664]",6,4
3,Cuaca ekstrem dan dampaknya di Eropa,"[16240, 9001, 30730, 37976, 45181, 29223, 2290...","[55675, 22316, 22777, 37976, 16240, 60318, 307...","[9001, 30730, 59691, 16240, 37976, 45181, 60318]",7,3
4,Hasil pertandingan sepak bola liga Inggris tad...,"[45032, 6257, 43151, 26411, 24796, 49670, 5402...","[45032, 43151, 26411, 24796, 49670, 54020, 505...","[19969, 54020, 49670, 45032, 50538, 26411, 431...",8,2
5,Update kasus pandemi global terbaru,"[9745, 5283, 56542, 10043, 35408, 17259, 50075...","[40163, 47872, 9745, 5283, 56542, 10043, 17259...","[10043, 25635, 5283, 17259, 9745, 50075, 56542...",8,2
6,Peningkatan investasi asing di Asia Tenggara,"[24243, 60088, 40289, 36764, 59423, 43723, 443...","[24243, 40289, 59423, 43723, 14226, 12386, 498...","[40289, 12386, 43723, 14226, 24243, 36764, 498...",8,2
7,Perubahan iklim dan dampaknya pada ekonomi,"[43709, 14178, 12904, 30730, 22104, 47679, 213...","[43084, 62460, 30730, 21353, 43709, 12904, 476...","[47749, 43709, 12904, 21353, 30730, 4989, 47679]",7,3
8,Penemuan ilmiah terbaru dalam bidang kesehatan,"[58884, 14680, 13178, 39300, 9637, 14631, 1426...","[14680, 58884, 14263, 23784, 14631, 9637, 4917...","[27971, 39300, 58884, 9637, 14631, 23784, 4917...",9,1
9,Konflik internasional dan resolusinya,"[46795, 15958, 8384, 51703, 63149, 22846, 5045...","[53161, 37368, 7864, 22846, 37767, 46795, 1619...","[16193, 37767, 46795, 50454, 51703, 7864, 22846]",7,3

In [6]:
tp = df["true_positive"].sum()
fp = df["false_positive"].sum()
precision = tp / (tp + fp)
print(f"Precision: {precision}")

Precision: 0.79